@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



#about {
  scroll-margin-top: 90px;
}

.gradient-name {
  background: linear-gradient(
    90deg,
    #ffffff,
    #22d3ee,
    #ffffff
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}